.homePage__banner {
    position: relative;
}

.homePage__banner .banner__txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

article .title {
    font-size: 40px;
    color: #000;
    font-weight: 500;
}

.home__new {
    margin-bottom: 71px;
}

.home__new .new__list {
    padding-top: 57px;
    padding-bottom: 77px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000;
}

.home__new .listItem {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.home__new .listItem .item {
    flex-basis: calc((100% - 32px * 3)/4);
    position: relative;
    overflow: hidden;
}

.home__new .pdt__img {
    position: relative;
}

.home__new .pdt__img .saleTag {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    background: #E97171;
    color: #fff;
    line-height: 48px;
    text-align: center;
}

.home__new .pdt__img .saleTag.newTag {
    background: #2EC1AC;
}

.home__new .pdt__detail {
    padding: 16px 16px 30px 16px;
    background: #F4F5F7;
}

.home__new .pdt__name {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 600;
}

.home__new .pdt__type {
    font-weight: 500;
    color: #898989;
    margin: 8px 0;
}

.home__new .pdt_price .newPrice {
    color: #3A3A3A;
    font-size: 20px;
    font-weight: 600;
    /* line-height: 30px; */
}

.home__new .pdt_price .oldPrice {
    color: #B0B0B0;
    text-decoration: line-through;
    /* line-height: 24px; */
}

.home__new .item__pdt--hover {
    background: rgba(58, 58, 58, 0.7);
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
}

.home__new .listItem .item:hover .item__pdt--hover {
    top: 0;
}

/* rest btn */
.home__new .item__pdt--hover button {
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.home__new .item__pdt--hover .addCart {
    color: #B88E2F;
    font-weight: 600;
    font-size: 16px;
    background: #fff;
    width: 202px;
    height: 48px;
    margin-bottom: 24px;
}

.home__new .userAction {
    display: flex;
    gap: 20px;
}

.home__new .userAction__btn img {
    max-width: 16px;
}

.home__new .userAction__btn {
    color: #fff;
    font-weight: 600;
}

.home__shop .shop__galery {
    border-top: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    gap: 33px 30px;
    padding: 54px 0;
}

.home__shop .shop__galeryItem {
    flex-basis: calc((100% - 30px)/2);
}

.home__blog .blog__content {
    border-top: 1px solid #000;
    margin-top: 42px;
}

.home__blog .blog__item {
    display: flex;
    gap: 35px;
    margin-top: 66px;
}

.home__blog .blog__itemImg {
    flex-basis: calc((100% - 35px)/2);
}

.home__blog .blog__itemDetail {
    flex-basis: calc((100% - 35px)/2);
    padding-top: 54px;
    border-bottom: 1px solid #000;
    position: relative;
}

.home__blog .blog__itemDetail h4 {
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 20px;
}

.home__blog .blog__itemDetail p {
    color: #898989;
    font-weight: 500;
}

.home__blog .blog__readMore {
    position: absolute;
    bottom: 12px;
    right: 0;
}

.home__blog .blog__readMore img {
    max-width: 25px;
    margin-left: 20px;
}

.home__blog .blog__readMore a {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.home__section {
    background: #FAF3EA;
    display: flex;
    justify-content: space-between;
    padding: 100px 53px;
    margin-top: 144px;
}

.home__section__item {
    display: flex;
    gap: 10px;
    padding: 5px 0;
}

.home__section__item img {
    max-width: 60px;
}

.home__section__itemtxt .bigtxt {
    font-size: 25px;
    font-weight: 600;
    color: #242424;
}

.home__section__itemtxt .smalltxt {
    font-size: 20px;
    font-weight: 500;
    color: #898989;
}

/* shop */

.shopPage .home__new .new__list {
    border-top: 0;
    border-bottom: 0;
}

.shopPage .filter {
    height: 100px;
    background: #F9F1E7;
}

.shopPage .filter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.shopPage .filter .icon img {
    max-width: 25px;
}

.shopPage .filter .left {
    width: 40%;
}

.shopPage .filter .left .icon {
    line-height: 25px;
}

.shopPage .filter .left .icon img {
    margin: 0 12px;
}

.shopPage .filter .left span:last-child {
    border-left: 1px solid;
    padding-left: 34px;
}

.shopPage .filter .right {
    display: flex;
    gap: 29px;
}

.shopPage .filter .right .box span {
    margin-left: 7px;
    padding: 12px 18px 13px 18px;
    background: #FFFFFF;
    color: #9F9F9F;
}

.shopPage .filter .right .box:last-child span {
    padding: 12px 86px 13px 30px;
}

.shopPage .pagination {
    display: flex;
    gap: 38px;
    justify-content: center;
}

.shopPage .pagination .page_item {
    border-radius: 10px;
    padding: 15px 24px;
    background: #F9F1E7;
    cursor: pointer;
}

.shopPage .pagination .page_item:hover {
    background: #B88E2F;
    color: #fff;
}

.shopPage .pagination .page_item.active {
    background: #B88E2F;
    color: #fff;
}


/* cart */
.banner__txt img {
    max-width: 77px;
}

.cartPage .container {
    margin-top: 72px;
    margin-bottom: 63px;
}

.cart_main {
    display: flex;
    gap: 30px;
}

.cart_main .left {
    width: 100%;
}

.cart_main .right {
    width: 100%;
    max-width: 393px;
    background: #F9F1E7;
}

.cart_main .right h2 {
    margin-top: 15px;
    text-align: center;
}

.cart_main .right .order_total {
    margin: 60px 85px 85px 80px;
}

.cart_main .right .order_total .item {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_main .right .order_total .item span:first-child {
    font-weight: 600;
}

.cart_main .right .order_total .sub_price {
    color: #9F9F9F;
}

.cart_main .right .order_total .total_price {
    color: #B88E2F;
    font-size: 20px;
    font-weight: 600;
}

.cart_main .right .order_total button {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 15px;
    background: transparent;
    border: 1px solid;
    border-radius: 15px;
    outline: 0;
}

.cart_main table {
    /* table-layout: fixed; */
    border-collapse: collapse;
    width: 100%;
}
.cart_main table thead{
    text-align: left;
    background: #F9F1E7;
    height: 55px;
}
.cart_main table thead th{
    line-height: 55px;
}
.cart_main table thead th:first-child {
    width: 139px;
}

.cart_main table thead th:nth-child(2) {
    width: 177px;
}

.cart_main table thead th:nth-child(3) {
    width: 177px;
}

.cart_main table thead th:nth-child(4) {
    width: 107px;
}
.cart_main table thead th:nth-child(4) {
    width: 160px;
}

.cart_main table thead th:last-child {
    width: 53px;
    text-align: center;
}

.cart_main table tbody td{
    padding-top: 55px;
}

.cart_main table tbody tr td:first-child img {
    max-width: 105px;
}
.cart_main table tbody tr td:last-child {
    text-align: center;
}
.cart_main table tbody tr td:last-child img {
    max-width: 28px;
}
.cart_main table tbody tr td:nth-child(2){
    color: #9F9F9F;
}
.cart_main table tbody tr td:nth-child(3){
    color: #9F9F9F;
}
.cart_main table tbody tr td:nth-child(4){
    margin-left: 2%;
}
.cart_main table tbody tr td:nth-child(4) span {
    border: 1px solid;
    background-color: #fff;
    padding: 4px 13px ;
}

/* checkout */
.checkoutPage{
    padding-top: 63px;
}
.checkoutPage .co_main{
    display: flex;
}
.co_main .left ,.co_main .right{
    flex-basis: 50%;
    width: 100%;
}

.co_main .left{
    padding: 35px 81px 72px 71px;
    flex-basis: 50%;
    max-width: calc(100% - 37px - 36px);
}
.co_main h2{
    margin-bottom: 36px;
}

.co_main .form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}
.co_main .form-input label{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
}
.co_main .form-input input{
    height: 73px;
    border: 1px solid #9f9f9f;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    border-radius: 10px;
    max-width: calc(100% - 32px - 30px);
}
.co_main .form-input select{
    height: 73px;
    border: 1px solid #9f9f9f;
    padding-left: 30px;
    width: 100%;
    border-radius: 10px;
}
.co_main.form-input option{
    color: #9f9f9f;
}
.co_main .flex{
    justify-content: space-between;
}
.co_main .item-input{
    width: 100%;
    max-width: 212px;
}
.co_main .item-input input{
    width: 100%;
    max-width: calc(100% - 32px -30px);
}

.co_main .right{
    padding: 87px 37px 86px 36px;
    flex-basis: 50%;
    max-width: calc(100% - 37px - 36px);
}
.co_main .list-info{
    padding-bottom: 40px;
    border-bottom: 1px solid #d9d9d9;
}

.co_main .list-info .flex{
    justify-content: space-between;
    margin-bottom: 22px;
}
.co_main .list-info .name{
    color: #9f9f9f;
}
.co_main .list-info .total_price{
    color: #B88E2F;
    font-weight: bold;
    font-size: 24px;
}

.co_main .pay_option{
    margin-top: 11px;
    margin-bottom: 11px;
}

.co_main .payment input{
    width: 14px;
    height: 14px;
}
.co_main .payment label{
    margin-left: 15px;
    font-size: 16px;
    font-weight: normal;
}
.co_main .payment .desc{
    font-size: 16px;
    font-weight: 300;
    color: #9f9f9f;
}

.co_main .submit{
    display: flex;
    justify-content: center;
    margin-top: 39px;
}

.co_main button{
    width: 80%;
    max-width: 318px;
    height: 64px;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    background: #fff;
}